
/* google font link  */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header section css write starts here  */

.navbar-brand img {
    width: 350px;
}

.navbar-light .navbar-nav .nav-link {
    color: #333;
    font-weight: 500;
    font-size: 17px;
}

/* header section css write ends here  */


/* banner section css write starts here  */

.banner-title{
    font-size: 75px;
    font-weight: 700;
    color: #FA804C;
}

.banner-title span {
    color: #363958;
}


.banner-dis{
    font-size: 16px;
    font-weight: 400;
}

.banner-bg {
    background-color: #FFF9F4;
}

.btn-img {
    width: 35px;
}

/* banner section css write ends here  */

/* product section css starts here  */

.product-title {
    color: #363958;
    font-size:40px ;
    font-weight: 800;
}

/* shoes section css  */

.shoes-bg {
    background-color: #F1F1F1;
}

.shoes-prices .btn {
    margin-top: 0 !important;
}

.shoes-title {
    font-size: 32px;
    color: #363958;
}

.min-height {
    min-height: 400px;
}

.shoes-des {
    font-size: 16px;
    font-weight: 400;
    color: #363958;
}

.shoes-prices .price {
    color: #FA804C;
    font-size: 35px;
    font-weight: 800;
}

/* product section css ends here  */

/* footer section  */

.footer-text{
    background-color: #FA804C;
    color: #fff;
    font-size: 1.2rem;
}

.footer-text p a{
    color: #fff;
}

.footer-text p a:hover {
    border-bottom: 1px solid #363958;
    color: #363958;
}


/* media query  */

@media (max-width:992px){
    .navbar-collapse {
        padding: 20px;
        margin-top: 20px;
        background: #fff;
    }
    .shoes-single{
        margin-top: 5rem;
    }
    .contact-content > .row {
        flex-direction: column-reverse;
    }
    .contact-single .row {
        justify-content: center;
        flex-direction: column;
    }
    .contact-under-text {
        text-align: center;
    }
}


@media (max-width:460px){
    .navbar-brand img {
        width: 220px;
    }
    .banner-title {
        font-size: 50px;
        font-weight: 700;
        color: #FA804C;
    }
}